<div class="createUser">
  <div *ngIf="success" class="alert-success">
    Sign Up successfully completed! redirecting to Sign In...
  </div>
  <div *ngIf="unauthorized" class="alert-error">Username already taken</div>
  <h3>Sign Up</h3>
  <form [formGroup]="form">
    <div class="field">
      <label>Username</label>
      <input type="text" formControlName="username" />
    </div>
    <div class="field">
      <label>Password</label>
      <input type="password" formControlName="password" />
    </div>
  </form>
  <button (click)="save()" type="submit" class="btnSuccess">Confirm</button>
</div>
