<div class="welcome">
  <div class="content">
    <div class="logo">
      <img src="../../../assets/white-logo.svg" />
      <strong>RPG Soundboard</strong>
    </div>
    <div class="messageAndbuttons">
      <h1>Add Life To Your Journey</h1>
      <div class="buttons">
        <button (click)="setShowSignIn()" class="loginBtn">Sign In</button>
        <button (click)="setShowSignUp()" class="registerBtn">Sign Up</button>
      </div>
    </div>
    <span
      ><strong style="color: #fff"
        >&copy; 2022 RPG Soundboard. All rights reserved.</strong
      ></span
    >
  </div>
  <div class="fog-container">
    <div class="fog-img fog-img-first"></div>
    <div class="fog-img fog-img-second"></div>
  </div>
</div>
<app-create-user
  *ngIf="showSignUp"
  (sendSuccess)="signUpStatus($event)"
></app-create-user>
<app-login *ngIf="showSignIn" (sendSuccess)="handleLogin($event)"></app-login>
<div *ngIf="showSignUp" (click)="setShowSignUp()" class="overlay"></div>
<div *ngIf="showSignIn" (click)="setShowSignIn()" class="overlay"></div>
