<div class="playlist">
  <!-- INPUT HIDDEN -->
  <input
    type="file"
    class="addSound"
    (change)="onFileSelected($event)"
    #uploadFile
  />

  <div class="inside">
    <div class="functions">
      <fa-icon
        style="color: #0f0; cursor: pointer"
        [icon]="faPlusCircle"
        (click)="uploadFile.click()"
      ></fa-icon>
    </div>
    <div class="name">{{ playlist.name }}</div>
    <div class="sounds">
      <app-sound-sender
        (emitter)="soundStarted($event)"
        *ngFor="let sound of sounds"
        [sound]="sound"
      ></app-sound-sender>
    </div>
  </div>
  <div class="uploadingModal" *ngIf="uploading">
    <div class="message">{{ uploadingMessage }}</div>
    <fa-icon
      *ngIf="uploadingMessage === 'Uploading'"
      class="spinner"
      [icon]="faSpinner"
    ></fa-icon>
    <fa-icon
      style="color: #0f0"
      *ngIf="uploadingMessage === 'Upload completed!'"
      [icon]="faCheck"
    ></fa-icon>
  </div>
  <div class="overlay" *ngIf="uploading" (click)="setUploading()"></div>
</div>
