<div class="playlist">
  <!-- INPUT HIDDEN -->
  <input
    type="file"
    class="addSound"
    accept=".mp3, audio/*"
    (change)="onFileSelected($event)"
    #uploadFile
  />

  <div
    [ngClass]="{
      'inside-default': theme == 1 || theme == 0 || theme == undefined,
      'inside-medieval': theme == 3,
      'inside-space': theme == 4,
      'inside-medieval-fantasy': theme == 2
    }"
  >
    <div class="functions">
      <fa-icon
        (click)="delete()"
        style="color: #f00"
        [icon]="faTrashCan"
      ></fa-icon>
      <div
        [ngClass]="{
          'stage-default': theme != 4 && theme != 2,
          'stage-space': theme == 4 || theme == 2
        }"
        (click)="sendToStageArea()"
      >
        <p>Stage</p>
        <fa-icon [icon]="faArrowUp"></fa-icon>
      </div>
      <fa-icon
        style="color: #0f0; cursor: pointer"
        [icon]="faPlusCircle"
        (click)="uploadFile.click()"
      ></fa-icon>
      <fa-icon
        (click)="setShowEdit()"
        style="color: #fff"
        [icon]="faPenToSquare"
      ></fa-icon>
    </div>
    <div
      [ngClass]="{
        'name-medieval': theme == 3,
        name: theme != 3 && theme != 4,
        'name-space': theme == 4
      }"
    >
      {{ playlist.name }}
    </div>
    <div class="sounds">
      <app-sound-sender
        [playlistId]="playlist.id"
        (soundShared)="soundShared($event)"
        (edited)="soundEdited($event)"
        (deleted)="soundDeleted($event)"
        (emitter)="soundStarted($event)"
        *ngFor="let sound of sounds"
        [sound]="sound"
      ></app-sound-sender>
    </div>
  </div>
  <div class="uploadingModal" *ngIf="uploading">
    <div class="message">{{ uploadingMessage }}</div>
    <fa-icon
      *ngIf="uploadingMessage === 'Uploading'"
      class="spinner"
      [icon]="faSpinner"
    ></fa-icon>
    <fa-icon
      style="color: #0f0"
      *ngIf="uploadingMessage === 'Upload completed!'"
      [icon]="faCheck"
    ></fa-icon>
  </div>
  <div class="overlay" *ngIf="uploading" (click)="setUploading()"></div>
</div>
<app-edit-playlist-modal
  (editConfirmation)="playlistEdited($event)"
  [playlist]="playlist"
  *ngIf="showEdit"
></app-edit-playlist-modal>
<div *ngIf="showEdit" (click)="setShowEdit()" class="overlay"></div>
