.inside-default {
  width: 450px;
  min-height: 450px;
  background-color: #0008;
  border: 10px solid #1d1c1a;
  display: flex;
  flex-direction: column;
  gap: 30px;
  padding: 10px;
}

.inside-medieval {
  width: 450px;
  min-height: 450px;
  background-color: #0008;
  border: 10px solid #9c640c;
  display: flex;
  flex-direction: column;
  gap: 30px;
  padding: 10px;
}

.inside-space {
  font-family: "VT323", monospace;
  width: 450px;
  min-height: 450px;
  background-color: #a4f64480;
  border: 10px solid #414767;
  display: flex;
  flex-direction: column;
  gap: 30px;
  padding: 10px;
}

.inside-medieval-fantasy {
  width: 450px;
  min-height: 450px;
  background-color: #fff8;
  border: 10px solid #1d1c1a;
  display: flex;
  flex-direction: column;
  gap: 30px;
  padding: 10px;
}

.name {
  color: #fff;
  display: flex;
  justify-content: center;
  background-color: #1d1c1a;
  border-radius: 5px;
  cursor: default;
}

.name-medieval {
  color: #fff;
  display: flex;
  justify-content: center;
  background-color: #664c28;
  border-radius: 5px;
  cursor: default;
}

.name-space {
  color: #fff;
  font-size: 24px;
  display: flex;
  justify-content: center;
  background-color: #5ec986;
  border-radius: 5px;
  cursor: default;
}

.sounds {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  gap: 10px;
}

.addSound {
  display: none;
}

.functions {
  display: flex;
  justify-content: space-around;
}

.btnSuccess {
  padding: 5px;
}

fa-icon {
  cursor: pointer;
}

.spinner {
  animation: spin 2s linear infinite;
}

.uploadingModal {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  background: transparent;
  border-radius: 8px;
  color: #fff;
  transform: translate(-50%, -50%);
  min-width: 250px;
  min-height: 100px;
  position: fixed;
  left: 50%;
  top: 50%;
  z-index: 11;
}
.overlay {
  background: #000;
  height: 100vh;
  left: 0;
  opacity: 0.5;
  position: fixed;
  top: 0;
  width: 100vw;
  z-index: 10;
}

.stage-default {
  cursor: pointer;
  display: flex;
  justify-content: center;
  gap: 5px;
  color: #40e0d0;
}
.stage-space {
  cursor: pointer;
  display: flex;
  justify-content: center;
  gap: 5px;
  color: #023020;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@media (max-width: 860px) {
  .playlist {
    width: 335px;
  }
  .inside-default,
  .inside-medieval,
  .inside-medieval-fantasy,
  .inside-space {
    width: 100%;
    min-height: 0;
  }
}
