<div class="sound-sender">
  <div class="functions">
    <fa-icon
      (click)="delete()"
      style="color: #f00"
      [icon]="faTrashCan"
    ></fa-icon>
    <fa-icon
      (click)="setEditSound()"
      style="color: #ddd"
      [icon]="faPenToSquare"
    ></fa-icon>
  </div>
  <button
    [ngClass]="{
      staged: staged,
      playing: audio !== undefined && !audio.paused
    }"
    (click)="emitSound()"
  >
    <strong>{{ sound.name }}</strong>
  </button>
  <div class="auto-play">
    <fa-icon
      *ngIf="autoPlay"
      (click)="setAutoPlay()"
      style="color: #0d0"
      [icon]="faToggleOn"
    ></fa-icon>
    <fa-icon
      *ngIf="!autoPlay"
      (click)="setAutoPlay()"
      style="color: #fff"
      [icon]="faToggleOff"
    ></fa-icon>
    <p style="color: #d6d6d6; font-size: 14px">Auto-Play</p>
  </div>
</div>
<app-edit-sound-modal
  (editConfirmation)="soundEdited($event)"
  [sound]="sound"
  *ngIf="editSound"
></app-edit-sound-modal>
<div *ngIf="editSound" (click)="setEditSound()" class="overlay"></div>
