<app-navbar></app-navbar>
<div
  [ngClass]="{
    'app-default': theme == 0,
    'app-space': theme == 4,
    'app-fallout': theme == 1,
    'app-medieval': theme == 2 || theme == 3
  }"
>
  <div class="top">
    <select
      #themes
      (change)="onThemeSelected(themes.value)"
      class="themeSelection"
    >
      <option>Default</option>
      <option>Medieval</option>
      <option>Medieval Fantasy</option>
      <option>Space</option>
      <option>Post Apocalyptc</option>
    </select>
    <button class="btnSuccess" (click)="setShowAddPlaylistModal()">
      <strong>New Playlist</strong>
    </button>
  </div>
  <app-staging-area [sendedSound]="sendedSound"></app-staging-area>
  <div class="playlists">
    <app-playlist
      (started)="soundStarted($event)"
      (deleted)="playlistDeleted($event)"
      *ngFor="let playlist of playlists"
      [playlist]="playlist"
    ></app-playlist>
  </div>
</div>
<app-add-playlist-modal
  (sendConfirmation)="onNewPlaylist()"
  *ngIf="showAddPlaylistModal"
></app-add-playlist-modal>
<div
  *ngIf="showAddPlaylistModal"
  (click)="setShowAddPlaylistModal()"
  class="overlay"
></div>
