<div class="app">
  <div class="top">
    <button class="btnSuccess" (click)="setShowAddPlaylistModal()">
      <strong>New Playlist</strong>
    </button>
  </div>
  <app-staging-area [sound]="sound"></app-staging-area>
  <div class="playlists">
    <app-playlist
      (started)="soundStarted($event)"
      *ngFor="let playlist of playlists"
      [playlist]="playlist"
    ></app-playlist>
  </div>
</div>
<app-add-playlist-modal *ngIf="showAddPlaylistModal"></app-add-playlist-modal>
<div
  *ngIf="showAddPlaylistModal"
  (click)="setShowAddPlaylistModal()"
  class="overlay"
></div>
