.staging-area {
  display: flex;
  flex-direction: column;
  min-height: 150px;
  align-items: center;
  gap: 20px;
  flex-wrap: wrap;
  padding: 10px;
  width: 80%;
  border: 1px solid;
  border: 10px solid #1d1c1a;
  background-color: #0004;
  animation-name: slide;
  animation-duration: 0.8s;
}

.loop {
  animation: 3s spin infinite linear;
}

fa-icon {
  cursor: pointer;
}

.trashIcon {
  color: #f00;
}

.trashIcon:hover {
  color: #b00;
}

.forcePlayOn {
  color: #0f0;
}

.forcePauseOn {
  color: #ff0;
}

.forceStopOn {
  color: #f00;
}

.players {
  display: flex;
  justify-content: center;
  gap: 40px;
  flex-wrap: wrap;
}

.big-player {
  display: flex;
  justify-content: space-evenly;
  color: #fff;
  width: 100%;
}

@keyframes slide {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(-360deg);
  }
}
