.staging-area {
  display: flex;
  flex-direction: column;
  min-height: 150px;
  align-items: center;
  gap: 20px;
  flex-wrap: wrap;
  padding: 10px;
  width: 80%;
  border: 1px solid;
  border: 10px solid #1d1c1a;
  background-color: #0004;
  border-radius: 20px;
  animation-name: slide;
  animation-duration: 0.8s;
}

fa-icon {
  cursor: pointer;
  color: #f00;
}

fa-icon:hover {
  color: #b00;
}

.players {
  display: flex;
  justify-content: center;
  gap: 40px;
  flex-wrap: wrap;
}

@keyframes slide {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}
