<app-navbar></app-navbar>
<div class="plans">
  <div style="height: 85%; width: 30%" class="plan">
    <div style="color: #616161" class="name">Free</div>
    <div class="features">
      <span>2 playlists</span>
      <span>10 uploads</span>
    </div>
    <div></div>
    <div></div>
  </div>
  <div class="plan">
    <div style="color: #d2aa70" class="name"><strong>Premium</strong></div>
    <div class="features">
      <span>unlimited playlists</span>
      <span>1000 uploads</span>
    </div>
    <div class="price">
      <span>$5</span>
      <span style="color: #616161; font-size: 1rem">/month</span>
    </div>
    <button class="planBtn">Choose Plan</button>
  </div>
  <div style="height: 85%; width: 30%" class="plan">
    <div class="name">Basic</div>
    <div class="features">
      <span>unlimited playlists</span>
      <span>30 uploads</span>
    </div>
    <div class="price">
      <span>$1</span>
      <span style="color: #616161; font-size: 1rem">/month</span>
    </div>
    <button class="planBtn">Choose Plan</button>
  </div>
</div>
