<div class="playlistModal">
  <h2>New Playlist</h2>
  <div *ngIf="maxPlaylistsErr" class="alert-error">
    {{ maxPlaylistsErrMessage }}
  </div>
  <form [formGroup]="form">
    <div class="field">
      <label>Name</label>
      <input type="text" formControlName="name" />
    </div>
    <div class="field">
      <label>Description</label>
      <textarea formControlName="description"></textarea>
    </div>
    <button class="btnSuccess" type="submit" (click)="submit()">Confirm</button>
  </form>
</div>
