/* You can add global styles to this file, and also import other style files */
@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  height: 100vh;
  font-family: "Poppins", sans-serif;
}

.btnSuccess {
  padding: 10px;
  background-color: #00a300;
  color: #fff;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

.btnSuccess:hover {
  background-color: #009000;
}

.alert-success {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80%;
  padding: 10px;
  background-color: #a3ebb1;
  color: #116530;
  font-size: 12px;
}

.alert-error {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80%;
  padding: 10px;
  background-color: #ffcbd1;
  color: #8b0000;
  font-size: 12px;
}

@keyframes pop {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
    transform: translate(-50%, -50%);
  }
}
